*{
    font-family: "Myriad Pro";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$color-1: #444;
$color-2: #0089D2;
$color-3: #9f9f9f;
$color-4: #ededed;
$bg-color: #fcfcfc;

@import 'navbar';
@import 'gradesBox';



form{
    max-width:500px;
    margin: 0 auto;
    border-radius:5px;
    box-shadow: 0px 0px 2px 1px $color-4;
    padding:5px;
}
body{
    background-color: $bg-color;
}
.page{
    margin: 0 5px 100px 5px;
}
.subject{
    border-top: 1px solid $color-4;
    color: $color-1;
    display: flex;
    justify-items: normal;
    align-items: center;
    height: 50px;
    padding-top: 5px;
    margin-top: 5px;

    .sub{
        flex:6;
        display:flex;
        flex-direction: column;

        .code{
            font-family: "Fira Code";
            color:$color-2;
            font-size: 0.7em;
        }
        .name{
            font-size: 1em;
        }
    }
    .subCredits{
        flex:1;
    }
    .attempt{
        flex:1;
    }

    .attempt{
        font-family: "Myriad Pro";
        
        label {
            text-transform: uppercase;
            display: inline-block;
            background-color: $color-4;
            color: $color-3;
            border-radius: 100%;
            line-height: 27px;
            margin: 0px 5px;
            user-select: none;
            transition: all .2s;
            padding: 3px 3px;
            cursor: pointer;
            height: 30px;
            width: 30px;
            text-align: center;
            font-size: 13px;

            &:hover{
                color: $color-2;
            }
          }
          
          input[type="checkbox"] {
            display: absolute;
            position: absolute;
            opacity: 0;
            
            &:checked + label {              
              background-color: $color-2;
              color: #fff;
              transition: all .2s;
            }  
          }
    }

    .subResult{
        flex:2;        
        color: $color-3;
        height: 30px;
        border-radius:20px;
        border: thick;
        text-align: center;
        line-height: 23px;
        padding: 5px;
        transition: 0.3s;
        background-color: $color-4;

        &:hover{
            cursor: pointer;
            color: $color-2;
        }
        &:focus{
            outline:none;
        }
        
    }
}

.disabledSub{
    pointer-events: none;
    
    &:hover{
        cursor: pointer;
    }

    .attempt{
        font-family: "Myriad Pro";
          
        input[type="checkbox"] {

            &:checked + label {              
                background-color: $color-4;
                color: $color-4;
            }  
        }
    }
    .subResult{
        background-color: $color-4;
        color: $color-4;      
        
    }
}

.semester{
    padding:10px 5px;

    .title{
        font-family: "Fira Code";
        color: $color-2;
        text-indent: 20px;
    }
    .yearTitle{
        font-size: 10px;
    }
}






.gpaBox{
    position: fixed;
    display: none;
    bottom: 60px;
    z-index: 8;
    width: 100%;
    padding: 10px;

       

    .container{
        margin: 10px auto;
        background-color: #fff;
        max-width: 600px;
        display: flex;
        height: 200px;
        border: 1px solid $color-4;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 2px 1px $color-4;
        position: relative;
        
        .gpaClose{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: $color-4;
            text-align: center;
            padding-top: 1px;
            color:$color-3;
            
            &:hover{
                color: $color-1;
                cursor: pointer;
            }
        } 

        .gpaResult{
            width: 150px;
            background-color: $color-2;
            clip-path: circle(150px at 0% 50%);
            display: flex;

            p{
                margin: auto;
                font-size: 50px;
                color: $color-4;
            }
            
        }

        .gpaDetails{
            display: flex;
            flex-direction: column;
            margin: auto;
            color: $color-1;
        }

    }
}
.header{
    padding:5px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px 1px $color-4;
    border-bottom: 1px solid $color-4;

    div{
        font-family: "Fira Code";
        &:nth-child(1){
            color: $color-1;
            font-size: 20px;
        }
        &:nth-child(2){
            color: $color-2;
            line-height: 25px;
            font-size: 15px;
        }
    }

}


.page{
    display: flex;
    padding: 5px;
    color: $color-1;    

    .container{
        margin: auto;
        max-width: 500px;
        background-color: #fff;
        box-shadow: 0px 0px 2px 1px $color-4;
        border-radius: 5px;        
    }
    .pageTitle{
        text-align: center;
        padding: 15px 15px 5px 15px;
        font-size: 1.5em;
    }
    .pageDesc{
        padding: 0 10px;
        color: $color-3;
    }
    p{
        &:not(.indent){
            margin: 5px auto;
        }
    }
    a{
        color: $color-2;
    }
}
.faq{
    
    .container{
        padding-bottom: 10px;
    }
    .faq-touple{
        margin: 15px 10px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid $color-4;
        
        &:hover{
            border: 1px solid $color-2;
        }
        
        .question{
            border-bottom: 1px solid $color-4;
            padding-bottom: 2px;
            margin-bottom: 3px;
        }
        .answer{
            color: $color-3;
        }
    }
}

.about{
    section{
        margin: 15px 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;

        h1{
            margin-bottom: 10px;
            font-weight: 400;
        }
        p{
            color: $color-3;
        }
        img{
            margin: auto;
        }
        table,td,th{
            border: 1px solid $color-3;
        }
        table{
            border-collapse: collapse;
            border-radius: 5px;
            width: 100%;

            td{
                padding:3px;
                color: $color-3;

                strong{
                    font-weight: 500;
                    color:$color-1;
                }
            }
            caption{
                padding-top: 3px;
                font-style: oblique;
                color: $color-3;
                font-size: 0.75em;
            }
            
        }
        .indent{
            padding-left: 15px;;
        }
    }
}
.contact{
    display: flex;

    .dp{
        width: 130px;
        height: 130px;
        margin:auto;
        img{
            width: 130px;
        }
    }
    .container{
        padding-bottom: 10px;
    }
    .cname{
        margin-top: 20px;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        color: $color-3;
    }
    .chandle{
        text-align: center;
        font-size: 2.3em;
        font-weight: 700;
        color: $color-3;

        &::first-letter{
            color: $color-2;
        }
    }

    p{
        color: $color-3;
    }
}


