* {
  font-family: "Myriad Pro";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  border-top: 1px solid #ededed;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 1px #ededed;
          box-shadow: 0px 0px 2px 1px #ededed;
  background-color: #fff;
}

.navbar .container {
  display: -ms-grid;
  display: grid;
  max-width: 540px;
  margin: 0 auto;
  -ms-grid-columns: 4fr 4fr 5fr 4fr 4fr;
      grid-template-columns: 4fr 4fr 5fr 4fr 4fr;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  z-index: 15px;
}

.navbar .container .active {
  -webkit-box-shadow: 0px -3px 0px 0px #0089D2;
          box-shadow: 0px -3px 0px 0px #0089D2;
}

.navbar .container .active div {
  color: #0089D2;
}

.navbar .container .item {
  margin-top: -2px;
  padding-top: 3px;
}

.navbar .container .item:hover:not(.cta_calc) {
  -webkit-box-shadow: 0px -3px 0px 0px #0089D2;
          box-shadow: 0px -3px 0px 0px #0089D2;
}

.navbar .container .item:hover {
  cursor: pointer;
}

.navbar .container div {
  outline: none;
  position: relative;
}

.navbar .container div:hover {
  outline: none;
}

.navbar .container div div {
  text-align: center;
  color: #9f9f9f;
  font-size: 1em;
}

.navbar .container div div img {
  margin: auto;
  width: 25px;
}

.navbar .container .cta_calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container .cta_calc div {
  -webkit-box-shadow: 0px 0px 2px 1px #ededed;
          box-shadow: 0px 0px 2px 1px #ededed;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #0089D2;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
}

.navbar .container .cta_calc div img {
  width: 40px;
}

.dialogOverlay {
  background-color: #fcfcfc;
  opacity: 0.7;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
}

.gradesPrompt {
  background-color: none;
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gradesPrompt .innerBox {
  background-color: #fff;
  z-index: 10;
  width: 300px;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px #ededed;
          box-shadow: 0px 0px 8px 0px #ededed;
  padding: 10px;
}

.gradesPrompt .innerBox .promptHeader {
  padding: 10px;
  line-height: 30px;
  color: #444;
}

.gradesPrompt .innerBox .promptHeader span {
  float: right;
  background-color: #ededed;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  color: #9f9f9f;
  margin: -15px;
}

.gradesPrompt .innerBox .promptHeader span:hover {
  color: #444;
  cursor: pointer;
}

.gradesPrompt .innerBox .promptBody .grades {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  padding-bottom: 10px;
}

.gradesPrompt .innerBox .promptBody .grades .green {
  color: green;
}

.gradesPrompt .innerBox .promptBody .grades .orange {
  color: orange;
}

.gradesPrompt .innerBox .promptBody .grades .orangered {
  color: orangered;
}

.gradesPrompt .innerBox .promptBody .grades .red {
  color: red;
}

.gradesPrompt .innerBox .promptBody .grades .darkred {
  color: darkred;
}

.gradesPrompt .innerBox .promptBody .grades .grade {
  border-radius: 100%;
  background-color: #ededed;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 47px;
}

.gradesPrompt .innerBox .promptBody .grades .grade:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 8px 0px #ededed;
          box-shadow: 0px 0px 8px 0px #ededed;
}

.gradesPrompt .innerBox .promptBody .grades .grade:last-child {
  width: 150px;
  border-radius: 25px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

form {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 1px #ededed;
          box-shadow: 0px 0px 2px 1px #ededed;
  padding: 5px;
}

body {
  background-color: #fcfcfc;
}

.page {
  margin: 0 5px 100px 5px;
}

.subject {
  border-top: 1px solid #ededed;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-top: 5px;
  margin-top: 5px;
}

.subject .sub {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subject .sub .code {
  font-family: "Fira Code";
  color: #0089D2;
  font-size: 0.7em;
}

.subject .sub .name {
  font-size: 1em;
}

.subject .subCredits {
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border: 1px solid #9f9f9f;
  border-radius: 100%;
}

.subject .attempt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.subject .attempt {
  font-family: "Myriad Pro";
}

.subject .attempt label {
  text-transform: uppercase;
  display: inline-block;
  background-color: #ededed;
  color: #9f9f9f;
  border-radius: 100%;
  line-height: 27px;
  margin: 0px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 3px 3px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 13px;
}

.subject .attempt label:hover {
  color: #0089D2;
}

.subject .attempt input[type="checkbox"] {
  display: absolute;
  position: absolute;
  opacity: 0;
}

.subject .attempt input[type="checkbox"]:checked + label {
  background-color: #0089D2;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.subject .subResult {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #9f9f9f;
  height: 30px;
  border-radius: 20px;
  border: thick;
  text-align: center;
  line-height: 23px;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ededed;
}

.subject .subResult:hover {
  cursor: pointer;
  color: #0089D2;
}

.subject .subResult:focus {
  outline: none;
}

.disabledSub {
  pointer-events: none;
}

.disabledSub:hover {
  cursor: pointer;
}

.disabledSub .attempt {
  font-family: "Myriad Pro";
}

.disabledSub .attempt input[type="checkbox"]:checked + label {
  background-color: #ededed;
  color: #ededed;
}

.disabledSub .subResult {
  background-color: #ededed;
  color: #ededed;
}

.semester {
  padding: 10px 5px;
}

.semester .title {
  font-family: "Fira Code";
  color: #0089D2;
  text-indent: 20px;
}

.semester .yearTitle {
  font-size: 10px;
}

.gpaBox {
  position: fixed;
  display: none;
  bottom: 60px;
  z-index: 8;
  width: 100%;
  padding: 10px;
}

.gpaBox .container {
  margin: 10px auto;
  background-color: #fff;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  border: 1px solid #ededed;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 2px 1px #ededed;
          box-shadow: 0px 0px 2px 1px #ededed;
  position: relative;
}

.gpaBox .container .gpaClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ededed;
  text-align: center;
  padding-top: 1px;
  color: #9f9f9f;
}

.gpaBox .container .gpaClose:hover {
  color: #444;
  cursor: pointer;
}

.gpaBox .container .gpaResult {
  width: 150px;
  background-color: #0089D2;
  -webkit-clip-path: circle(150px at 0% 50%);
          clip-path: circle(150px at 0% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gpaBox .container .gpaResult p {
  margin: auto;
  font-size: 50px;
  color: #ededed;
}

.gpaBox .container .gpaDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  color: #444;
  max-width: 300px;
}

.header {
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 2px 1px #ededed;
          box-shadow: 0px 0px 2px 1px #ededed;
  border-bottom: 1px solid #ededed;
}

.header div {
  font-family: "Fira Code";
}

.header div:nth-child(1) {
  color: #444;
  font-size: 20px;
}

.header div:nth-child(2) {
  color: #0089D2;
  line-height: 25px;
  font-size: 15px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  color: #444;
}

.page .container {
  margin: auto;
  max-width: 500px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 1px #ededed;
          box-shadow: 0px 0px 2px 1px #ededed;
  border-radius: 5px;
}

.page .pageTitle {
  text-align: center;
  padding: 15px 15px 5px 15px;
  font-size: 1.5em;
}

.page .pageDesc {
  padding: 0 10px;
  color: #9f9f9f;
}

.page p:not(.indent) {
  margin: 5px auto;
}

.page a {
  color: #0089D2;
}

.faq .container {
  padding-bottom: 10px;
}

.faq .faq-touple {
  margin: 15px 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ededed;
}

.faq .faq-touple:hover {
  border: 1px solid #0089D2;
}

.faq .faq-touple .question {
  border-bottom: 1px solid #ededed;
  padding-bottom: 2px;
  margin-bottom: 3px;
}

.faq .faq-touple .answer {
  color: #9f9f9f;
}

.about section {
  margin: 15px 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about section h1 {
  margin-bottom: 10px;
  font-weight: 400;
}

.about section p {
  color: #9f9f9f;
}

.about section img {
  margin: auto;
}

.about section table, .about section td, .about section th {
  border: 1px solid #9f9f9f;
}

.about section table {
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
}

.about section table td {
  padding: 3px;
  color: #9f9f9f;
}

.about section table td strong {
  font-weight: 500;
  color: #444;
}

.about section table caption {
  padding-top: 3px;
  font-style: oblique;
  color: #9f9f9f;
  font-size: 0.75em;
}

.about section .indent {
  padding-left: 15px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .dp {
  width: 130px;
  height: 130px;
  margin: auto;
}

.contact .dp img {
  width: 130px;
}

.contact .container {
  padding-bottom: 10px;
}

.contact .cname {
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #9f9f9f;
}

.contact .chandle {
  text-align: center;
  font-size: 2.3em;
  font-weight: 700;
  color: #9f9f9f;
}

.contact .chandle::first-letter {
  color: #0089D2;
}

.contact p {
  color: #9f9f9f;
}

.subCredits, .attempt label {
  position: relative;
}

.subCredits:hover .tooltip, .attempt label:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 0 5px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 1px #ededed;
          box-shadow: 0px 0px 2px 1px #ededed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  color: #9f9f9f;
}

.ttcredit {
  top: -15px;
  left: -95px;
}

.ttattempt {
  top: -15px;
  left: 30px;
}
/*# sourceMappingURL=main.css.map */